@page
@using BookBlastInc.Core.Enums
@model IndexModel
@{
    ViewData["Title"] = "Home page";
  Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title href="https://localhost:7089/">Book Blast inc</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  
  <style>
      .card {
        /* Handle content overflow */
      }
  </style>

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Knight
  * Updated: May 30 2023 with Bootstrap v5.3.0
  * Template URL: https://bootstrapmade.com/knight-free-bootstrap-theme/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Hero Section ======= -->

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <a href="https://localhost:7089/">Book Blast Inc</a>
      </div>

      <nav id="navbar" class="navbar">
       
        <ul>
          <li><a asp-page="BookPages/AllBooks">All Books</a></li>
          @foreach (var category in Model.Categories)
          {
            <li><a class="nav-link scrollto"  asp-page="BookPages/GetBooksByCategory" asp-route-id="@category.Id">@category.Name</a></li>
          }
       
           @if (User.IsInRole(RoleName.Administrator.ToString()))
           {

               <li class="dropdown"><a ><span>Admin tools</span> <i class="bi bi-chevron-down"></i></a>
                   <ul>
                       <li><a asp-page="CategoryPages/Categories">All Categories</a></li>

                       <li class="dropdown"><a href="#"><span>Books</span> <i class="bi bi-chevron-right"></i></a>
                       <ul>

                           <li><a asp-page="BookPages/AddAuthor">Add New Author</a></li>
                           <li><a asp-page="BookPages/AddGenre">Add New Genre</a></li>

                       </ul>


                   </ul>
               </li>
           }
         
        </ul>
        
        <i class="bi bi-list mobile-nav-toggle"></i>
        
      </nav><!-- .navbar -->
       <partial name="Shared/_LoginPartial"/>
    </div>
   
  </header><!-- End Header -->

  <div class="row pb-12">
      @foreach (var book in Model.Books)
      {
          <div class="col-lg-3 col-sm-6">
              <div class="row p-2">
                  <div class="col-12 p-1">
                      <div class="card border-0 p-3 shadow  border-top border-5 rounded" style=" height: 800px;
                                                                                                        border: 1px solid #ccc;
                                                                                                        padding: 10px;
                                                                                                        margin: 5px;
                                                                                                        overflow: hidden;"> 
                          @if(book.PhotoUrl!=null && book.PhotoUrl.Count() > 0) {
                              <img src="@book.PhotoUrl" class="card-img-top rounded" style=" height: 530px;" />
                          }
                          else {
                              <img src="https://placehold.co/500x600/png" class="card-img-top rounded" />
                          }
                          
                          <div class="card-body pb-0">
                              <div class="pl-1">
                                  <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">@book.Name</p>
                                  <p class="card-title text-warning text-center">by @foreach (var author in book.AuthorNames)
                                    {
                                        <b>@author</b>
                                    }
                              </div>
                              <div class="pl-1">
                                  <p class="text-dark text-opacity-75 text-center">Price:
                                      <span>
                                          @string.Format("€{0:N2}",book.Price)
                                      </span>
                                      <br/><small><b>Deposit:</b> @string.Format("€{0:N2}",book.Deposit)</small>
                                  </p>
                              </div>
                          </div>
                          <div>
                              <a asp-page="/BookPages/BookDetails"
                              asp-route-id="@book.Id"
                              class="btn btn-primary bg-gradient border-0 form-control">
                                  Details
                              </a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      }
  </div>

<footer>
    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>Knight</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/knight-free-bootstrap-theme/ -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - BookBlastInc.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootswatch.css"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    
    <!-- Vendor CSS Files -->
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/BookBlastInc.Web.styles.css" asp-append-version="true"/>
    <link rel="stylesheet" href="//cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css"/>
</head>

