@page
@model BookBlastInc.Web.Pages.BookPages.AddBook

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/css/multi-select-tag.css">
</head>

<body>


<div class="card-body p-3">
    <form method="post" class="row">
        <div class="border p-3  mt-4">
            <div class="row pb-2">
                <h2 class="text-dark py-3">Add New Book</h2>
                <hr/>
            </div>
            <div class="form-floating py-2">
                <label class="col-form-label" asp-for="BookAuthor.Book.Name"></label><br/>
                <input type="text" asp-for="@Model.BookAuthor.Book.Name" class="form-control"/><br/>
            </div>
            <div class="form-floating py-4">
                <label class="col-form-label" asp-for="CategoryId">Category</label>
                <select class="form-select" asp-items="@Model.BookAuthor.Categories" asp-for="CategoryId">
                    <option id="select" disabled selected value="">Select category</option>
                </select>
            </div>
            <div class="form-floating">
                <label class="col-form-label" asp-for="BookAuthor.Book.About"></label><br/>
                <input type="text" asp-for="@Model.BookAuthor.Book.About" class="form-control"/><br/>
            </div>
            
                @Html.ListBoxFor(m => m.BookAuthor.AuthorIds, Model.BookAuthor.SelectListItems, new
                {
                    @class = "form-control chosen-select",
                    @id = "selected",
                    @multiple = true
                })
            
            <div class="form-floating">
                <label class="col-form-label" asp-for="BookAuthor.Book.Price"></label><br/>
                <input asp-for="@Model.BookAuthor.Book.Price" class="form-control">Eur</input><br/>
            </div>
                <div class="form-floating">
                    <label class="col-form-label" asp-for="BookAuthor.Book.ReleaseDate"></label><br/>
                    <input type="date" asp-for="BookAuthor.Book.ReleaseDate" class="form-control"/><br/>
                </div>
                <div class="form-floating">
                    <label class="col-form-label">Photo</label><br/>
                    <input type="file"  class="form-control"/><br/>
                </div>
        </div>
        <button type="submit" class="btn btn-secondary" style="width: 100px">Submit</button><br/>
        <a asp-page="CategoryPages/Index">Back to listing</a>

      
      
    </form>
    
<script>
    $('chosen-select').chosen();


    
</script>

</div>
</body>
</html>