@page
@model BookBlastInc.Web.Pages.BookPages.AddBook

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/habibmhamadi/multi-select-tag/dist/css/multi-select-tag.css">
</head>

<body>

<div class="row" >
    <form method="post" class="form-control" enctype="multipart/form-data">
        <input asp-for="BookAuthor.Book.Id" hidden/>
        <div class="border p-3  mt-4">
            <div class="row">
                <div class="col-8">
                    <div class="border p-3  mt-4">
                        <div class="row pb-2">
                            <h2 class="text-dark py-3">@(Model.BookAuthor.Book == null ? "Create" : "Update")</h2>
                            <hr/>
                        </div>
                        <div class="form-floating py-2">
                            <label class="col-form-label" asp-for="BookAuthor.Book.Name"></label><br/>
                            <input type="text" asp-for="@Model.BookAuthor.Book.Name" class="form-control"/><br/>
                        </div>
                        <div class="form-floating py-4">
                            <label class="col-form-label" asp-for="CategoryId">Category</label>
                            <select class="form-select" asp-items="@Model.BookAuthor.Categories" asp-for="CategoryId">
                                @if (Model.BookAuthor.Book is not null)
                                {
                                    <option id="select" selected value="@Model.BookAuthor.Book.CategoryId">Select category</option>
                                }
                                else
                                {
                                    <option id="select" selected >Select category</option>
                                }
                            </select>
                        </div>
                        <div class="py-2">
                            <label class="col-form-label ms-2 text-muted" asp-for="BookAuthor.Book.About"></label><br/>
                            <textarea type="text" asp-for="@Model.BookAuthor.Book.About" class="form-control"></textarea><br/>
                        </div>

                        @Html.DropDownListFor(m => m.BookAuthor.AuthorIds, Model.BookAuthor.SelectListItems, new
                        {
                            @class = "form-control chosen-select",
                            @id = "selected",
                            @multiple = true
                        })

                        <div class="form-floating">
                            <label class="col-form-label" asp-for="BookAuthor.Book.Price"></label><br/>
                            <input asp-for="@Model.BookAuthor.Book.Price" class="form-control">Eur</input><br/>
                        </div>
                        <div class="form-floating">
                            <label class="col-form-label" asp-for="BookAuthor.Book.ReleaseDate"></label><br/>
                            <input type="date" asp-for="BookAuthor.Book.ReleaseDate" class="form-control"/><br/>
                        </div>
                        <div class="form-floating">
                            <label class="col-form-label">Photo</label><br/>
                            <input type="file" name="file" class="form-control"/><br/>
                        </div>
                    </div>
                    @if (Model.BookAuthor.Book == null)
                    {
                        <button type="submit" class="btn btn-secondary" style="width: 100px">Submit</button><br/>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-secondary" style="width: 100px">Update</button><br/>
                       
                    }
                    
                    <a asp-page="CategoryPages/Index">Back to listing</a>
                </div>  
                @if (@Model.BookAuthor.Book is not null)
                {
                    <div class="col-2">
                        <img src="@Model.BookAuthor.Book.PhotoUrl" width="100%" style="border-radius:6px; border: 1px white; image-rendering:pixelated;"/>
                    </div>
                }
            </div>
            
            </div>
    </form>
    
@section Scripts{
     <script>
        tinymce.init({
          selector: 'textarea',
          plugins: 'ai tinycomments mentions anchor autolink charmap codesample emoticons link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed permanentpen footnotes advtemplate advtable advcode  mergetags powerpaste tinymcespellchecker autocorrect a11ychecker typography inlinecss',
          toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | align lineheight | tinycomments | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
          tinycomments_mode: 'embedded',
          tinycomments_author: 'Author name',
          mergetags_list: [
            { value: 'First.Name', title: 'First Name' },
            { value: 'Email', title: 'Email' },
          ],
          ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant"))
        });
      </script>
}
</div>
</body>
</html>